@import "../../../sass/variables";

.container {
  padding: 0 1rem;
  margin-top: 1rem;
  .search-bar {
    input {
      margin-bottom: 1rem;
      background-color: white;
      padding: 0.5rem 0;
      border: $border;
      border-radius: $border-radius;
      width: 100%;
      max-width: 100%;
      text-indent: 0.5rem;
    }
  }

  .results {
    p {
      text-align: center;
    }
  }
}
