<form [formGroup]="partForm" (submit)="handleSubmit($event)" class="part-form">
  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <mat-label>Part Name</mat-label>
    <input matInput placeholder="Part name" formControlName="name" />
    <mat-error *ngIf="partForm.get('name')?.invalid">{{
      requiredMessage
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <mat-label>Part number</mat-label>
    <input matInput placeholder="Part number" formControlName="partNumber" />
    <mat-error *ngIf="partForm.get('partNumber')?.invalid">{{
      requiredMessage
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <mat-label>Cost</mat-label>
    <input
      type="number"
      [min]="0"
      matInput
      placeholder="Cost"
      formControlName="cost"
    />
    <mat-error *ngIf="partForm.get('cost')?.invalid">{{
      getCostError()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <mat-label>In Stock Quantity</mat-label>
    <input
      type="number"
      [min]="0"
      matInput
      placeholder="In Stock Quantity"
      formControlName="inStock"
    />
    <mat-error *ngIf="partForm.get('inStock')?.invalid">{{
      getStockError()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Description"
    ></textarea>
    <mat-error *ngIf="partForm.get('partNumber')?.invalid">{{
      requiredMessage
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
    <mat-error *ngIf="partForm.get('notes')?.invalid">{{
      requiredMessage
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="image" appearance="fill" [hideRequiredMarker]="true">
    <mat-label>Image url</mat-label>
    <input matInput formControlName="image" placeholder="Image Url" />
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
