@import "../../../sass/variables";
.part {
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, 150px));

  img {
    justify-self: center;
  }

  mat-card-content {
    overflow-y: auto;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stock {
    color: red;
  }
  .in-stock {
    color: green;
  }
}
