<mat-card class="part">
  <mat-card-header>
    <mat-card-title>{{ part.name }}</mat-card-title>
    <mat-card-subtitle>
      <span class="stock" [ngClass]="{ 'in-stock': part.inStock }"
        ><strong>
          {{ part.inStock ? "In Stock: " : "Out of stock" }}
        </strong></span
      >
      <span *ngIf="part.inStock"
        ><strong>{{ part.inStock }}</strong></span
      >
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-lg-image [src]="part?.image" [alt]="part.name" />
  <mat-card-content>
    <p>{{ part.description }}</p>
    <p><strong>Part Number:</strong> {{ part.partNumber }}</p>
    <p><strong>Price:</strong> {{ part.cost | currency }}</p>
    <p><strong>Comments:</strong> {{ part.notes }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="edit" (click)="handleNavigate(part.id)">
      Edit
    </button>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="receive"
        (click)="handleReceive(part.id)"
      >
        Receive
      </button>
      <button
        mat-raised-button
        color="warn"
        class="consume"
        [disabled]="part.inStock < 1"
        (click)="handleConsume(part.id)"
      >
        Consume
      </button>
    </div>
  </mat-card-actions>
</mat-card>
