<div class="container">
  <div class="list">
    <ng-container *ngIf="partList$ | async as parts">
      <div>
        <a
          [routerLink]="['new']"
          class="part-link"
          [routerLinkActive]="['is-active']"
          >Add a new part</a
        >
      </div>
      <div *ngFor="let part of parts; trackBy: track">
        <a
          [routerLink]="[part.id]"
          class="part-link"
          [routerLinkActive]="['is-active']"
          >{{ part.name }}</a
        >
      </div>
    </ng-container>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
