@import "../../../sass/variables";

.container {
  position: relative;
  display: flex;
  margin-top: 1rem;
  .list {
    position: sticky;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 0px);
    overflow: hidden auto;
    width: 350px;
    top: 0;

    div {
      .part-link {
        text-decoration: none;
        color: $primary;
        padding: 1rem;
        background-color: white;
        display: block;
        &.is-active {
          color: white;
          background-color: $primary;
        }
      }
    }
  }

  .content {
    width: 100%;
    margin: 0 1rem;
  }
}
